:root {
    /* Basic Colors */
    color-scheme: light dark;
    --color-base: light-dark(#eadeda, #262626);
    --color-text: light-dark(#262626, #eadeda);
    --color-accent: #2176ae;
    --color-attention: #e34234; /* alternatively: #ff4f00*/

    /* Default Style */
    font-size: 16px;

    /* Old Colors */
    --blue-base:#0e84d4;
    --grey-base:#a8a8a8;

    --blue-accent1:#5095c1;
    --blue-accent2:#2c6d9d;
    --blue-accent3:#87c9ff;

    --grey-accent1:#7d7d7d;
    --grey-accent2:#595959;
    --grey-accent3:#b3b3b3;

}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: var(--color-base);
}

select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

button {
    /* margin-top: 5px;
    padding: 5px; */
    background-color: var(--grey-base);
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    display:flex;
}

.radio-container {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

input[type="radio"] {
    display: none;
}

label {
    background-color: var(--grey-base);
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    display:flex;
}


label:hover{
    background-color: var(--grey-accent3);
}

input[type="radio"]:checked + label {
    background-color: var(--blue-base);
    opacity: 100%;
    /* color: black; */   
}

.checkbox-label {
    cursor: pointer;
    display: block;
    /* padding: 5px; */
    border: 1px solid var(--grey-base);
    /* margin-bottom: 5px; */
}

.radio-container label {
    width: 60px;
    display:block;
    text-align: center;
    /* tex */
}

.checkbox-label input {
    display: none;
}

/* input[type="tt"]:checked + span {
    background-color: #0e84d4;
    opacity: 100%;
    color: black;
    
} */

/* 


 */

 #checkboxesContainer input:checked + label {
    background-color: var(--blue-base);
}

#checkboxesContainer input {
    display: none;
}
/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.dataTables_wrapper label {
    background-color: var(--blue-accent1);
}



/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}


.dropbtn {
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    font-size: var(--font-size);
    border: none;
    cursor: pointer;
    border-radius: 0px;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--grey-base);
    /* min-width: 160px; */
    z-index: 1;
    border-radius: 0;

}

.dropdown-content label {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: var(--grey-accent3);
    cursor: pointer;
    color: white;
    border-radius: 0;
}

.dropdown-content label:hover, .dropdown-content label:focus-within {
    background-color: var(--grey-accent1);
    /* color: white; */
    border-radius: 0;

}

.dropdown:hover .dropdown-content {
    display: block;
}