body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
.radio-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    background-color: #a1a1a1;
    opacity: 50%;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #0e84d4;
    opacity: 100%;
    /* color: black; */
    
}


#output {
    margin-top: 20px;
    font-size: 18px;
}