:root {
    font-size: 16px;
    --accent-color: #0e84d4
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
.radio-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    background-color: #a1a1a1;
    opacity: 50%;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
label:hover{
    background-color: #0e84d4;
}

input[type="radio"]:checked + label {
    background-color: #0e84d4;
    opacity: 100%;
    /* color: black; */
    
}

.checkbox-label {
    cursor: pointer;
    display: block;
    /* padding: 5px; */
    border: 1px solid #ccc;
    /* margin-bottom: 5px; */
}

.checkbox-label:hover {
    background-color: var(--accent-color);
}

.checkbox-label input {
    display: none;
}

/* input[type="tt"]:checked + span {
    background-color: #0e84d4;
    opacity: 100%;
    color: black;
    
} */

#checkboxesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#checkboxesContainer input {
    display: none;
}

#checkboxesContainer input:checked + label {
    background-color: #0e84d4;
    opacity: 100%;
}

/* #output {
    margin-top: 20px;
    font-size: 18px;
} */


/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
