:root {
    font-size: 16px;
    --blue-base:#0e84d4;
    --grey-base:#a8a8a8;

    --blue-accent1:#5095c1;
    --blue-accent2:#2c6d9d;
    --blue-accent3:#87c9ff;

    --grey-accent1:#7d7d7d;
    --grey-accent2:#595959;
    --grey-accent3:#b3b3b3;

}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
.radio-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    background-color: var(--grey-base);
    /* opacity: 50%; */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display:flex;
}
label:hover{
    background-color: var(--grey-accent3);
}

input[type="radio"]:checked + label {
    background-color: var(--blue-base);
    opacity: 100%;
    /* color: black; */   
}

.checkbox-label {
    cursor: pointer;
    display: block;
    /* padding: 5px; */
    border: 1px solid var(--grey-base);
    /* margin-bottom: 5px; */
}


.checkbox-label input {
    display: none;
}

/* input[type="tt"]:checked + span {
    background-color: #0e84d4;
    opacity: 100%;
    color: black;
    
} */

#checkboxesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

#checkboxesContainer input {
    display: none;
}

#checkboxesContainer input:checked + label {
    background-color: var(--blue-base);
}


/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
