@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
	/* Reference name */
	font-family: 'Kode Mono';
	src: url('fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf');
}
[data-theme='tumbling'] .display-text {
	font-family: 'Kode Mono', monospace;
}
