.header {
    display: flex;
    gap: 20px;
    align-items: center;

    background: var(--color-accent-gradient);
    padding: 10px var(--page-margin-side);
}

nav {
    justify-self: flex-end;
    display: flex;
    gap: 18px;
    font-family: Kode Mono;
}

nav a {
    /* Aligning the icons */
    display: flex;
    align-items: center;
    gap: 0.2em;

    /* Positioning */
    position: relative;
    padding: 0.3em;

    /* text style */
    font-size: 1.2em;
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    color: inherit;
}

nav a iconify-icon {
    font-size: 1.5em;
}

nav a.active {
    font-weight: bold;
}

nav a::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0px;
    background-color: var(--color-text);
    transition: width 0.25s ease;
}

nav a.active::after, nav a:hover::after {
    width: 100%;
}